.buttonGroup {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 16px;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;

  .button {
    padding: 4px;
    border: 1px solid #ffb0d8;
    min-width: 80px;
    color: #333;
    font-weight: normal;
    cursor: pointer;
    transition: all .2s;
    background-color: transparent;

    &:hover {
      border: 1px solid hotpink;
      font-weight: bold;
    }
  }
}
