.root {
  padding: 24px;
  min-width: 180px;
  width: 20%;
  border-right: 1px solid hotpink;

  .steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0;
    padding: 0;
    list-style-type: none;
  }
}
